﻿html{
  background-repeat:no-repeat;
  min-height: 100%;
}

body *{
  box-sizing: border-box;
  transition: all 300ms;
  margin: 0;

}
body > content {
    background: #fff;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    min-height: 100px;
}

body {
  height: 100%;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #444;
  padding:0;
  background: #d5ecf9;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
a { 
    text-decoration: none; color: white;
   } 
p {
    margin-top: 0.5em; 
    margin-bottom: 1em; 
	margin-right: 1em;
	text-align: justify;
   }
.header {
 position: relative;
 margin: 0 auto;
 width: 1200px;
 vertical-align: top;
 font-size: 0;
 background: #fff;
}

.logo {
	display: inline-table;
	vertical-align: bottom;
	width: 25%;
	padding: 0;
	font-size: 0
}
.logo img{
  width: 120px;
  margin-left: 0;
  vertical-align: middle;
  display: inline-table;
}
.logo-text{
    vertical-align: middle;
    font-size: 22px;
    display: inline-table;
}
.banner {
	display: inline-table;
	width: 50%;
}
.banner img{
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

}
.buttons{
  font-family: "Merriweather", serif;
  font-size: 16px;
  
}
.buttons>div{
	border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    display: inline-table;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
}

.about-button:hover, .projects-button:hover{
  background: #88C9E7;
  cursor: pointer;
}

.profile {
	display: inline-table;
	width: 10%;
	padding: 10px;
	vertical-align: middle;
	position: relative;
	margin-left: 15%;
}
.profile img {
	margin-right: 10%;
	width: 70px;
	float: right;
	cursor:pointer;
}
.header .profile >.prof-name{
    font-size: 16px;
    position: absolute;
    bottom: -40px;
    width: 200px;
    text-align: center;
    right: 80%;
    top: 0;
    height: 100%;
}
.header .profile >.prof-name > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.profile ul
{
  margin-left: 79%;
  margin-top: 21px;
  border-radius: 5px;
  border: 1px solid #0077bc;
  font-size: 19px;
  background: #0077bc;
  list-style:none;
  display: none;
  position: absolute;
  text-align: right;
  padding: 10px;
  top: 0;
  z-index: 1;
  width: 200%;
  margin: 0;
  right: 100%;
}

body .header > .profile:hover ul.menu{
    display: block;
}

.profile li{
  color: black;
  padding: 5px;
  color: white;
}

.profile li:hover{
  background: #88C9E7;
  cursor: pointer;
}


.footer {

  width: 1200px;
  font-size: 0;
  background: #fff;
  background: #0077bc;
  color: white;
  margin: 0 auto;
  vertical-align: bottom;
  position: relative;
}

.footer *{
  position: relative;
  display: inline-table;
  font-size: 14px;
  vertical-align: middle;
}
.tsu-logo {
width: 25%;
}


.adress {
	width: 50%;
 margin: 0 auto;
}
.adress-center {
	    margin: 0 auto;
    width: 50%;
    display: block;
}

.contacts {
width: 25%;
 margin: 0 auto;
 padding-left: 1%;
}

.contacts-center {
	width: 25%;
	margin: 0 auto;
    display: block;
}

.tsu {
	margin: 0 auto;

}

.footer img {
  width: 100px;
}




aside
{
	float: left;
	margin: 7px;
	background-color: white;
	border-radius: 5px;
	border: #0077bc solid;
	width: 286px;
	margin-top: 69px;
}

aside h4
{
	margin: 20px;
	color: #0077bc;
	text-align: center;
}

#projects {
	list-style-type: none;
	display: contents;
	padding: 0;
}

#projects li
{
	margin: 14px;
	border-radius: 5px;
	padding: 5px;
	border: solid 2px #0077bc;
	cursor: pointer;
	word-wrap: break-word;
}

#projects > li:hover
{
	background-color: #0077bc;
}

content > h1
{
	position: absolute;
	margin-top: 20px;
	margin-left: 49px;
}

hr
{
	color: #0077bc;
	margin-top: 14px;
	margin-bottom: 14px;
}

#Description
{
	border-radius: 5px;
	border: #0077bc solid;
	margin: 7px;
	margin-left: 0;
	padding-top: 14px;
	padding-bottom: 14px;
	width: 75%;
}

#Description > *
{
	margin-left: 24px;
}

#Description > hr
{
	margin-left: 0;
}

#Description > h2
{
	margin-top: -3px;
}

form {
	width: 325px;
	line-height: 2;
}
form > *
{
	margin: 0 7px ;
}

form input 
{
    float: right;
    height: 22px;
    width: 142px;
    margin-top: 7px;
}

form span
{
	float: left;	
}

/*
#Description b 
{
    border: solid #0077bc 1px;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 7px;
    margin-right: 14px;
	cursor: pointer;
	align-self: center;
}
*/
.item {
	border: solid #0077bc 1px;
	border-radius: 5px;
	padding-left: 7px;
	padding-right: 7px;
	margin: 7px;
	margin-right: 14px;
	align-self: center;
	color: #555;
	padding-bottom: 2px;
	text-transform: capitalize;
	white-space: nowrap;
	line-height: 2;
}


.minus, .plus {
	background: #0077bc;
	color: white;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;
	margin-left: 6px;
	margin-right: -8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	border: solid #0077bc 1px
}
table tr:first-child td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
}

.minus:hover
{
	background-color: red;
}
.plus:hover
{
	background-color: #88C9E7;
}


.text {
	border: solid #0077bc 1px;
	padding: 7px;
	word-wrap: break-word;
	height: 100px;
	overflow-y: auto;
	margin-top: 3px;
	margin-bottom: 7px;
}
#save-button, #add-proj {
	border: 1px solid #0077bc;
	border-radius: 5px;
	padding: 14px;
	color: white;
	background: #0077bc;
	font-size: 16px;
	display: inline-table;
	width: 26%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: 14px;
}

}
*/
#save-button:hover, #add-proj:hover
{
  background: #88C9E7;
  cursor: pointer;
}

a
{
	text-decoration-line: none;
}

table {
	width: 842px;
	margin: 8px;
	border-collapse: collapse;
}
td 
{
	border: 1px #0077bc solid;
	padding: 7px;
}
.project .minus
{
	border: none;
}


.project-list {
	margin: 42;
	width: 800px;
	position: relative;
	left: 0;
	margin-left: 28px;
}

.big-project {
	/* border: solid black 1px; */
	width: 100%;
	display: flex;
	margin: 20px;
}

.big-project > div > * {
	margin: 7px;
}

.project-image {
	width: 200px;
	height: 212px;
	cursor: pointer;
	border: 1px solid #0077bc;
	border-radius: 5px;

	overflow: hidden;
}


.project-request {
	border: solid #0077bc 1px;
	padding: 7px;
	border-radius: 5px;
	width: 200px;
	background-color: #0077bc;
	color: white;
	text-align: center;
}
.project-request:hover
{
	cursor: pointer;
	background-color: #88C9E7;
}

.back {
 position: absolute; 
 width: 100%;
 height: 100%;
 z-index: 1;
}

.background {
  background-color: black;
  opacity: 0.7;  
  width: 100%;
 height: 100%;
}

.message{
  position: absolute; 
  background-color: white;
  text-align: center;
  height: 300px;
  width: 500px;
top: calc(50% - 85px);
left: calc(50% - 250px);
  
  border-radius: 5px;
  padding: 5px;
  border: solid 2px #0077bc;
  z-index: 1;

}
.message h3{
  color: #0077bc;
  padding: 10px;
}
.message p{
  margin-top: 5px;
  border-radius: 5px;
  padding: 15px;
  border: solid 2px #0077bc;
}
.message-button{
  border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
    float: right;
    margin-right: 1px;
    margin-top: 1%;

}
.message-button:hover{
  background: #88C9E7;
  cursor: pointer;
}
.project-name {
	padding: 7px;
	border: solid #0077bc 1px;
	border-radius: 5px;
	height: 60px;
	text-align: center;
	overflow-y: auto;
}
.project-name:hover {
	cursor: pointer;
	background-color: #88C9E7;
}

.project-description {
	border: solid #0077bc 1px;
	border-radius: 5px;
	padding: 14px;
	width: 570px;
	height: 212px;
	overflow-y: auto;
}

.project-describe {
	float: right;
	color: silver;
}
.project-describe:hover {
	color: red;
	cursor: pointer;
	text-decoration-line: underline;
}
.area{
height: 56%;
width: 95%;

}
