html{
	background-color: #b9a9b9;
	background-image: url(http://images5.fanpop.com/image/photos/28100000/Cute-kitty-animal-cubs-28185372-1920-1200.jpg);
    background-size: cover;
    background-repeat:no-repeat;
	min-height: 100%;
}
body *{
	box-sizing: border-box;
	transition: all 300ms;
}
body {
	margin: 0;
}
html body> .wrapper{
	background-color: #efe6ef;
	max-width: 800px;
	margin: 0 auto; 
	padding: 10px;
}
.wrapper .withFloatImage img{
	float: right;
	width: 40%;
	margin-left: 5%
}
body > .wrapper div:first-child{
	font-size: 32px;
    font-family: sans-serif;
    font-style: italic;
    color: #6a0b17;
}
body > .wrapper .magic-hover{
	background-image: url("https://cdn2.themysteriousworld.com/wp-content/uploads/2014/12/british-shorthair-cat.jpg");
	height: 250px;
	background-size: cover;
    background-repeat:no-repeat;
}
body > .wrapper .magic-hover:hover{
	cursor: pointer;
	background-image: url("https://thecatsite.com/attachments/hiding-jpg.181012/");

}
.clear{
	clear: both;
}
.justify{
	text-align: justify;
}
.font-0{
	font-size: 0
}
.children-def > *{
	font-size: initial;
	display: inline-table;
	vertical-align: middle;
}
.w-50{
	width: 50%;
}
.w-50.text.right{
	padding-left: 5%
}