@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
html{
  background-repeat:no-repeat;
  min-height: 100%;
}

body *{
  box-sizing: border-box;
  transition: all 300ms;
  margin: 0;

}
body > content {
    background: #fff;
    display: block;
    width: 1200px;
    margin: 0 auto;
    min-height: 100px;
}

body {
  height: 100%;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  /*padding: 5px 25px;*/
  font-size: 18px;
  margin: 0;
  color: #444;
  padding:0;
  background: #d5ecf9;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
.header {
 position: relative;
 margin: 0 auto;
 width: 1200px;
 vertical-align: top;
 font-size: 0;
 background: #fff;
}

.logo {
  display: inline-table;
  vertical-align: bottom;
  width: 25%;
  padding: 0;
  font-size: 0
}
.logo img{
  width: 120px;
  margin-left: 0;
  vertical-align: middle;
  display: inline-table;
}
.logo-text{
    vertical-align: middle;
    font-size: 22px;
    display: inline-table;
}
.banner {
  display: inline-table;
  width: 50%;
}
.banner img{
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

}
.buttons{
  font-family: "Merriweather", serif;
  font-size: 16px;
  
}
.buttons>div{
  border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    display: inline-table;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
}

.about-button:hover, .projects-button:hover, #RatingTeacher:hover, #projects-buttonrating:hover{
  background: #88C9E7;
  cursor: pointer;
}

#projects-buttonrating {
  margin-left: 35px;
  margin-right: 0px;
}

.profile {
  display: inline-table;
  width: 10%;
  padding: 10px;
  vertical-align: middle;
  position: relative;
  margin-left: 15%;
}
.profile img {
  margin-right: 10%;
  width: 70px;
  float: right;
  cursor:pointer;
}
.header .profile >.prof-name{
    font-size: 16px;
    position: absolute;
    bottom: -40px;
    width: 200px;
    text-align: center;
    right: 80%;
    top: 0;
    height: 100%;
}
.header .profile >.prof-name > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.profile ul
{
  margin-left: 79%;
  margin-top: 21px;
  border-radius: 5px;
  border: 1px solid #0077bc;
  font-size: 19px;
  background: #0077bc;
  list-style:none;
  display: none;
  position: absolute;
  text-align: right;
  padding: 10px;
  top: 0;
  z-index: 1;
  width: 200%;
  margin: 0;
  right: 100%;
}

body .header > .profile:hover ul.menu{
    display: block;
    /* margin: 0; */
    /* padding: 0; */
    /* width: 100%; */
}

.profile li{
  color: black;
  padding: 5px;
  color: white;
}

.profile li:hover{
  background: #88C9E7;
  cursor: pointer;
}

.footer {

  width: 1200px;
  font-size: 0;
  background: #fff;
  background: #0077bc;
  color: white;
  margin: 0 auto;
  vertical-align: bottom;
    position: relative;
}

.footer *{
  position: relative;
  display: inline-table;
  font-size: 14px;
  vertical-align: middle;

}
.adress {
 margin-left: 360px;
}
.contacts {
 margin-left: 40px;
}



.tsu {
 margin-left: 20px;
}

.footer img {
  width: 100px;
}

.request {
    position: relative;
    display: inline-table;
    vertical-align: middle;
    background-color: white;
    border-radius: 5px;
    border: #0077bc solid;
    width: 24%;
    margin-top: 1%;
    margin-left: 1%;
    height: 600px;
    margin-bottom: 1%;
}

.request p {
    margin: 20px;
    color: #0077bc;
    text-align: center;
}

.request li {
    margin: 14px;
    border-radius: 5px;
    padding: 5px;
    border: solid 2px #0077bc;
    cursor: pointer;
    word-wrap: break-word;
    list-style-type: none;
  }

.request ul {

    padding: 0px;
}

.request2 {
    position: relative;
    display: inline-table;
    vertical-align: middle;
    background-color: white;
    border-radius: 5px;
    border: #0077bc solid;
    width: 72%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    height: 600px;
    margin-bottom: 1%;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #0077bc;
  padding: 5px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  color: #000000;
  margin-bottom: 8px;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 35px;
  border: 3px solid #0077bc;
  background: #0077bc;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 1%;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  margin-top: 1%;
  margin-left: 0.5%;
  margin-bottom: 1%;
  width: 94%;
  position: relative;
  border-radius: 5px;
}

table {
  margin: 8px;
  border-collapse: collapse;
}
td 
{
  border-collapse: collapse;
  border: 1px #0077bc solid;
  padding: 3px;
}

.table {
  margin: 1%;
  margin-top: 0.5%;
  text-align: center;
  font-size: 12pt;
  /*border: 2px solid #0077bc;*/
  border-collapse: collapse;
  width: 98%;
}


.table th {
  background-color: #0077bc;
  color: white;
  font-size: 12pt;
  height: 30px;
}

.table td {
  border: 1px solid #0077bc;
  font-size: 12pt;
}


#table2 {
  border-radius: 5px 0 0 0;
}

#table3 {
  border-radius: 0 5px 0 0;
  width: 170px;
}

.filter {
  margin-top: 4.5%;
  margin-left: 1%;
  font-size: 10pt;
}

.Status-button:hover {
  background: #88C9E7;
  cursor: pointer;
}


.description {
  text-align: left;
}

.buttons-invite>div{
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    display: inline-table;
    width: 100%;
    line-height: 30px;
}

.buttons-invite2>div{
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    display: inline-table;
    width: 100%;
    line-height: 30px;
}

.back {
 position: absolute; 
 width: 100%;
 height: 100%;
 z-index: 1;
}

.background {
  background-color: black;
  opacity: 0.7;  
  width: 100%;
 height: 100%;
}

.message{
  position: absolute; 
  background-color: white;
  text-align: center;
  height: 230px;
  width: 500px;
top: calc(50% - 85px);
left: calc(50% - 250px);
  width: 25%;
  border-radius: 5px;
  padding: 5px;
  border: solid 2px #0077bc;
  z-index: 1;
}

.message h3{
  color: #0077bc;
  padding: 10px;
}

.message p{
  margin-top: 5px;
  border-radius: 5px;
  padding: 15px;
  border: solid 2px #0077bc;
}

.message-button{
  border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    width: 40%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 25px;
    float: right;
    margin-right: 1px;
    margin-top: 2%;
}

.message-button:hover{
  background: #88C9E7;
  cursor: pointer;
}


.rating>div{
    border: 1px solid #0077bc;
    border-radius: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    display: inline-table;
    width: 25%;
    margin: 0 10%;
    text-align: center;
    line-height: 35px;
}

#table№ {
  border-radius: 5px 0 0 0;
  width: 30px;
}

#tableFIO {
  width: 300px;
}

#tablerating1 {
  width: 80px;
}

#tablerating2 {
  border-radius: 0 5px 0 0;
  width: 80px;
}

#rate {
  margin-top: 10%;
  padding-left: 42%;
  font-size:14pt;
}


.tablerating {
  width:98%;
  margin: 1%;
  margin-top: 3%;
  text-align: center;
  font-size: 12pt;
  /*border: 2px solid #0077bc;*/
  border-collapse: collapse;
}

.tablerating th {
  background-color: #0077bc;
  color: white;
  font-size: 12pt;
  height: 30px;
}

.tablerating td {
  border: 1px solid #0077bc;
  font-size: 12pt;
  height: 30px;
}

#Teacher {
  margin: 20px 0px 0px 30px;
}

.rating>label {
      padding-right: 35px;
}





.back-app {
 position: absolute; 
 top:0;
 left: 0;
 width: 100%;
 height: 1200px;
 z-index: 1;
}
.background-app {
   position: absolute; 
  background-color: black;
  opacity: 0.7;  
  width: 100%;
 height: 100%;
}
.app  {
  position: absolute;
  width: 700px;
top: 50px;
left: calc(50% - 350px);
  border-radius: 5px;
  z-index: 1;
}






.div-about{
  position: relative;
  display: inline-table;
  vertical-align: top;
  margin-left: 5%;

}
#Description img{
height: 160px;
  display: inline-table;
  vertical-align: top;
}

hr
{
  color: #0077bc;
  margin-top: 14px;
  margin-bottom: 14px;
}
#Description
{
    position: absolute;
    background: white;
  border-radius: 5px;
  border: #0077bc solid;
  margin: 7px;
  margin-left: 0;
  padding-top: 14px;
  padding-bottom: 14px;
}
#Description b{
  margin-right: 20px;
}

#Description > *
{
  margin-left: 24px;
}

#Description > hr
{
  margin-left: 0;
}

#Description > h2
{
  margin-top: -3px;
}
.form-about {
  width: 325px;
  line-height: 2;
}
.form-about > *
{
  margin: 0 7px ;
}

.form-about input 
{
    float: right;
    height: 22px;
    width: 160px;
    margin-top: 7px;
}


.item > span {
    border: 1px solid;
    padding: 5px;
    display: inline-block;
    margin: 2px 0px;
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
  }

  .q >*{
    {
    border: 1px solid;
    padding: 5px;
    display: inline-block;
    margin: 2px 0px;
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
  }
  }
