﻿html{
  background-repeat:no-repeat;
  min-height: 100%;
}

body *{
  box-sizing: border-box;
  transition: all 300ms;
  margin: 0;
}
div {
	display: block;
}
body {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  /*padding: 5px 25px;*/
  font-size: 18px;
  margin: 0;
  color: #444;
  padding:0;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
.header {
 /*position: absolute*/
  margin: 0;
}
.logo{
	display: inline-table;
	vertical-align: top;
}
.logo img{
  position: absolute;
  width: 100px;
  margin-left: 0;
  display: inline-table;
  vertical-align: middle;
}
.logo-text{
  margin: 0;
  padding: 20px;
  font-size: 20px;
  display: inline-table;
  vertical-align: middle;
}
.banner img{
  margin-left: 250px;
  margin-top: 22px;
  height: 107px;
  width: 730px;
  border-radius: 10px;
   display: inline-table;
   margin: 0 auto;
}
.profile img{
  margin-left: 93%;
  margin-top: 21px;
  width: 70px;
  display: inline-table;
}
.buttons{
  font-family: "Merriweather", serif;
  font-size: 16px;
   display: inline-table;
  
}
.buttons .projects-button{
  margin-top: 96px;
  margin-left: 20px;
  border: 1px solid #0077bc;
  border-radius: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background: #0077bc;
}

.buttons .about-button {
  position: absolute;
  margin-top: 96px;
  margin-left: 130px;
  border: 1px solid #0077bc;
  padding: 5px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  background: #0077bc;
}
.about-button:hover, .projects-button:hover{
  background: #88C9E7;
  cursor: pointer;
}

.profile ul
{
  display: inline-table;
  margin-left: 79%;
  margin-top: 21px;
  border-radius: 5px;
  border: 1px solid #0077bc;
  font-size: 19px;
  background: #0077bc;
  list-style: none;
}


.profile li{
  color: black;
  padding:2px;
  color: white;
}

.profile li:hover{
  background: #88C9E7;
  cursor: pointer;
}
/*здесь я пытаюсь сделать выпадающее меню и у меня не получается*/
/*.profile ul{
  display: none;  
}
.profile:hover{
  display: block;
}*/

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #0077bc;
  color: white;
}
.footer *{
  position: absolute;
  font-size: 14px;
  margin-top: 10px;
}
.contacts {
  margin-left: 80%;
}
.adress {
  margin-left: 55%;
}
.tsu {
  margin-left: 25%;
}
.footer img {
  width: 100px;
  margin-left: 1%; 
  margin-top: -1%
}