﻿html{
  background-repeat:no-repeat;
  min-height: 100%;
}

body *{
  box-sizing: border-box;
  transition: all 300ms;
  margin: 0;

}
body > content {
    background: #fff;
    display: block;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: -10px; 
    min-height: 100px;
    position: relative;
}

body {
  height: 100%;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  /*padding: 5px 25px;*/
  font-size: 18px;
  margin: 0;
  color: #444;
  padding:0;
  background: #d5ecf9;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
.header {
 position: relative;
 margin: 0 auto;
 width: 1200px;
 vertical-align: top;
 font-size: 0;
 background: #fff;
}

.logo {
	display: inline-table;
	vertical-align: bottom;
	width: 25%;
	padding: 0;
	font-size: 0
}
.logo img{
  width: 120px;
  margin-left: 0;
  vertical-align: middle;
  display: inline-table;
}
.logo-text{
    vertical-align: middle;
    font-size: 22px;
    display: inline-table;
}
.banner {
	display: inline-table;
	width: 50%;
}
.banner img{
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

.project-picture {
  width: 240px;
  height: 240px;
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
  border: 1px solid #0077bc;
  border-radius: 5px;
  vertical-align: middle;
  overflow: hidden;
}

.project-picture img {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.pusto-picture {
  width: 100px;
  height: 100px;
  margin-left: 33.5%;
  margin-top: 0px;
  vertical-align: middle;

}

.pusto-picture img {
  width: 300%;
  height: 300%;

}

}
.buttons{
  font-family: "Merriweather", serif;
  font-size: 16px;
  
}
.buttons>div{
	border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    display: inline-table;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
}

.new-project-button{
  border: 1px solid #0077bc;
    border-radius: 5px;
    color: white;
    background: #0077bc;
    display: inline-table;
    text-align: center;
    line-height: 30px;
    padding: 10px;
    font-size: 25px;
    width: 74.5%;
    margin: 0.6%;
}

.more-button{
  border: 1px solid #0077bc;
    border-radius: 5px;
    color: white;
    background: #0077bc;
    text-align: center;
    line-height: 30px;
    padding: 3px;
    font-size: 16px;
    width: 12%;
    margin-left: 750px;
    margin-top: -36px;
    vertical-align: top;
}

.edit-button:before {
  content: "\2710";
  }

.edit-button{
  border: 1px solid #0077bc;
    border-radius: 3px;
    color: white;
    background: #0077bc;
    text-align: center;
    padding: 5px;
    width: 4%;
    margin-left: 783px;
    margin-top: -305px;
    vertical-align: top;
}

.close-button:before {
  content: "\2716";
  }

  .close-button{
  border: 1px solid #0077bc;
    background: #0077bc;
    color: white;
    border-radius: 3px;
    width: 4%;
    padding: 5px;
    text-align: center;
    margin-left: 820px;
    margin-top: -284px;
    vertical-align: top;
    display: inline-table;
}

.about-button:hover, .edit-button:hover, .new-project-button:hover, .more-button:hover, .projects-button:hover{
  background: #88C9E7;
  cursor: pointer;
}

.close-button:hover{
  background: red;
  cursor: pointer;
}

.status {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  border-radius: 5px;
  border: solid 2px #0077bc;
  min-height: auto;
  position: absolute;
  top: 0;
  bottom: 20px;
}

.status .project-status{
  
  font-size: 20px;
  color: white;
  padding: 10px;
  width: 270px;
  text-align: left;
  border: solid 2px #0077bc;
  background: #0077bc;
}

.status-vibor {
  display: inline-grid;
  padding: 5px;
  cursor: pointer;
}

.status-vibor li {
  display: inline-table;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  width: 250px;
  list-style-type: none;
}

.status-vibor > li:hover
{
  background-color: #0077bc;
   cursor: pointer;
   width: 250px;
   color: white;
}

.status-vibor hr {
  display: inline-table;
  margin-top: 15px;
  width: 260px;
}

.projects {
  width: 74.5%;
  margin: 0.6%;
  border-radius: 5px;
  border: solid 2px #0077bc;
  height: auto;
  display: inline-grid;
  vertical-align: top;
  margin-bottom: 20px;
  min-height: 335px; 
  }

  .project {
  vertical-align: top;
  width: 98%;
  margin: 1%;
  margin-top: 8px;
  border-radius: 5px;
  border: solid 1px #0077bc;
  height: 315px;
  }

  .pusto {
  vertical-align: top;
  display: inline-table;
  width: 98%;
  margin: 1%;
  margin-top: 8px;
  border-radius: 5px;
  border: solid 1px #0077bc;
  height: 315px;
  } 

  .project:hover {
   background: lavender; 
  }

.project-nаme {
  font-size: 20px;
  font-weight: bolder;
  vertical-align: top;
  display: inline-table;
  margin-left: 270px;
  margin-top: -240px;
  width: 58%;
  height: 55px; 
  color: #0077bc;
  padding: 5px;
}

.project-nаme:hover {
  cursor: pointer;
  text-decoration-line: underline;
  word-wrap: break-word;
}

.project-opisanie {
  vertical-align: middle;
  display: inline-table;
  margin-left: 270px;
  margin-top: -245px;
  width: 67.4%;
  height: 180px;
  word-wrap: break-word;
  padding: 5px;
}

.pusto-opisanie {
  vertical-align: middle;
  display: inline-table;
  margin-left: 308px;
  margin-top: 190px;
  width: 67.4%;
  height: 43px;
  word-wrap: break-word;
  padding: 5px;
}

.avtor {
  font-size: 16px;
  margin-left: 270px;
  margin-top: -50px;
  width: 40%;
  height: 30px; 
  color: #0077bc;
}

.avtor:hover {
  cursor: pointer;
  text-decoration-line: underline;
  word-wrap: break-word;
}

.profile {
	display: inline-table;
	width: 10%;
	padding: 10px;
	vertical-align: middle;
	position: relative;
	margin-left: 15%;
}

.profile img {
	margin-right: 10%;
	width: 70px;
	float: right;
	cursor:pointer;
}

.header .profile >.prof-name{
    font-size: 16px;
    position: absolute;
    bottom: -40px;
    width: 200px;
    text-align: center;
    right: 80%;
    top: 0;
    height: 100%;
}
.header .profile >.prof-name > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.profile ul
{
  margin-left: 79%;
  margin-top: 21px;
  border-radius: 5px;
  border: 1px solid #0077bc;
  font-size: 19px;
  background: #0077bc;
  list-style:none;
  display: none;
  position: absolute;
  text-align: right;
  padding: 10px;
  top: 0;
  z-index: 1;
  width: 200%;
  margin: 0;
  right: 100%;
}

body .header > .profile:hover ul.menu{
    display: block;
    /* margin: 0; */
    /* padding: 0; */
    /* width: 100%; */
}

.profile li{
  color: black;
  padding: 5px;
  color: white;
}

.profile li:hover{
  background: #88C9E7;
  cursor: pointer;
}

.footer {
  width: 1200px;
  font-size: 0;
  background: #fff;
  background: #0077bc;
  color: white;
  margin: 0 auto;
  vertical-align: bottom;
  position: relative;
}

.footer *{
  position: relative;
  display: inline-table;
  font-size: 14px;
  vertical-align: middle;
}
.tsu-logo {
width: 25%;
}


.adress {
	width: 50%;
 margin: 0 auto;
}
.adress-center {
	    margin: 0 auto;
    width: 50%;
    display: block;
}

.contacts {
width: 25%;
 margin: 0 auto;
 padding-left: 1%;
}

.contacts-center {
	width: 25%;
	margin: 0 auto;
    display: block;
}

.tsu {
	margin: 0 auto;

}

.footer img {
  width: 100px;
}

.back {
 position: fixed; 
 width: 100%;
 height: 100%;
 z-index: 1;
}

.background {
  background-color: black;
  opacity: 0.7;  
  width: 100%;
 height: 100%;
}

.message{
  position: fixed; 
  background-color: white;
  text-align: center;
  height: 170px;
  width: 500px;
top: calc(50% - 85px);
left: calc(50% - 250px);
  width: 450px;
  border-radius: 5px;
  padding: 5px;
  border: solid 2px #0077bc;
  z-index: 1;

}
.message h3{
  color: #0077bc;
  padding: 10px;
}
.message p{
  margin-top: 5px;
  border-radius: 5px;
  padding: 15px;
  border: solid 1px #0077bc;
}
.message-button{
  border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-left: 1px;
    margin-top: 1%;

}

.message-button_1{
  border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
    float: right;
    margin-right: 1px;
    margin-top: 1%;

}

#scrollup {
  position: fixed; 
  opacity: 0.6;
  padding: 5px 5px 5px;
  left: 70.5%;
  bottom: 230px;
  display: none;
  cursor: pointer;
}

#up {
  width: 120px;
  height: 120px;
}

#up img {
  width: 120px;
  height: 120px;
}

.message-button:hover, .message-button_1:hover{
  background: #88C9E7;
  cursor: pointer;

 }

 .area{
margin-top: 10px;  
height: 10%;
width: 95%;

}

 .area2{
margin-top: 10px;   
height: 65%;
width: 95%;

}

.message_new{
  position: fixed; 
  background-color: white;
  text-align: center;
  height: 550px;
  width: 700px;
top: calc(50% - 200px);
left: calc(50% - 350px);
  
  border-radius: 5px;
  padding: 5px;
  border: solid 2px #0077bc;
  z-index: 1;

}

.message-button_2{
  border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    width: 45%;
    margin: 0 1.5%;
    text-align: center;
    line-height: 30px;
    float: right;
    margin-right: 165px;
    margin-top: 7px;

}
.message-button_2:hover{
  background: #88C9E7;
  cursor: pointer;
}

.back2 {
 position: fixed; 
 width: 100%;
 height: 100%;
 z-index: 1;
}

.message_new h3{
  color: #0077bc;
  padding: 10px;
}
