﻿html{
  background-repeat:no-repeat;
  min-height: 100%;
}

body *{
  box-sizing: border-box;
  margin: 0;

}
body > content {
    background: #fff;
    display: block;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: -10px; 
    min-height: 100px;
}

body {
  height: 100%;
  background-color: white;
  font-family: "Open Sans", sans-serif;  
  font-size: 18px;
  margin: 0;
  color: #444;
  padding:0;
  background: #d5ecf9;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}


.hello {
 font-style: bold;
 font-size: 40px;
 text-align: center;
 padding-top: 50px;
padding-left:20px;
padding-right:15px;
 
}

.hello-text {
font-size: 25px;
text-align: center;
padding-top: 10px;
margin: 30px 100px 20px 100px;
	
}

.header {
 position: relative;
 margin: 0 auto;
 width: 1200px;
 vertical-align: top;
 font-size: 0;
 background: #fff;
}

.logo {
	display: inline-table;
	vertical-align: bottom;
	width: 25%;
	padding: 0;
	font-size: 0
}
.logo img{
  width: 120px;
  margin-left: 0;
  vertical-align: middle;
  display: inline-table;
}
.logo-text{
    vertical-align: middle;
    font-size: 22px;
    display: inline-table;
}
.banner {
	display: inline-table;
	width: 50%;
}
.banner img{
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

.plus-picture {
  margin-top: 0px;
  width: 150px;
  height: 150px;  
  border-radius: 100px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

.plus-picture img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow: hidden;
  

}

.video-picture {
  margin-top: 20px;
  width: 800px;
  height: 500px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

.video-picture img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow: hidden;
  

}


}
.buttons{
  font-family: "Merriweather", serif;
  font-size: 16px;
  
}
.buttons>div{
	border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    display: inline-table;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
}

.go-button {
	border: 1px solid #0077bc;
    border-radius: 5px;
	padding: 3px 3px 3px 3px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    display: inline-table;
    width: 200px;
	height: 50px;
    text-align: center;
    line-height: 35px;
	margin-left: 500px;
	
}

.go-button:hover {
	background: #88C9E7;
	cursor: pointer;
}

.about-button:hover,  .projects-button:hover, .login-button:hover, .close-button:hover  {
  background: #88C9E7;
  cursor: pointer;
}




.pluses {
  width: 100%;
  height: auto;
  display: inline-grid;
  vertical-align: top;
  margin-bottom: 20px; 
  }

  .plus {
  vertical-align: top;
  display: table-column;
  width: auto;
  margin: 1%;
  margin-top: 20px;
  border-radius: 20px;
  border: solid 3px #0077bc;
  height: 300px;
  }

  .plus:hover {
   background: none; 
  }




.plus-name {
  vertical-align: center;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  margin: 5px 0px 0px 0px;
  padding: 5px;
}

.plus-text1 {
 vertical-align: bottom;
  text-align: center;
  font-weight: lighter;
  width: 50px;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  margin: 5px 0px 0px 0px;
  padding: 5px;
}


.videos {
  width: 100%;
  margin: 0.6%;
  height: auto;
  display: inline-grid;
  vertical-align: top;
  margin-bottom: 20px; 
  }

  .video {
  vertical-align: top;
  display: table-column;
  width: auto;
  margin: 1%;
  margin-top: 20px;
  height: auto;
  }
  
  .video:hover {
   background: none; 
  }

.video-nаme:hover {
  cursor: pointer;
  text-decoration-line: underline;
  word-wrap: break-word;
}

.video-opisanie {
  vertical-align: bottom;
  text-align: center;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  padding: 5px;
}

.otzivs {
  width: 100%;
  margin: 0.6%;
  height: auto;
  display: inline-grid;
  vertical-align: top;
  margin-bottom: 20px; 
  }

  .otziv {
  vertical-align: top;
  display: table-column;
  width: auto;
  margin: 1%;
  margin-top: 20px;  
  height: auto;
  }

  .otziv:hover {
   background: none; 
  }

.otziv-head{
  vertical-align: bottom;
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  padding: 5px;
}



.profile {
	display: inline-table;
	width: 10%;
	padding: 10px;
	vertical-align: middle;
	position: relative;
	margin-left: 15%;
}

.profile img {
	margin-right: 10%;
	width: 70px;
	float: right;
	cursor:pointer;
}

.header .profile >.prof-name{
    font-size: 16px;
    position: absolute;
    bottom: -40px;
    width: 200px;
    text-align: right;
	font-weight: bold;
    right: 80%;
    top: 0;
    height: 100%;
}
.header .profile >.prof-name > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.profile ul
{
  margin-left: 50%;
  margin-top: 21px;
  border-radius: 5px;
  border: 1px solid #0077bc;
  font-size: 19px;
  text-decoration: none;
  background: #0077bc;
  list-style:none;
  display: none;
  position: absolute;
  text-align: center;
  padding: 10px;
  top: 0;
  z-index: 1;
  width: 200%;
  margin: 0;
  right: 60%;
}

body .header > .profile:hover ul.menu{
    display: block;
	text-decoration: none;
    margin: 22px;
    padding: 5px;
    width: auto;
}

.profile li{
  color: black;
  padding: 5px;
  color: white;
  
}

.profile li:hover{
  background: #88C9E7;
  cursor: pointer;
}

.footer {
  width: 1200px;
  font-size: 0;
  background: #fff;
  background: #0077bc;
  color: white;
  margin: 0 auto;
  vertical-align: bottom;
  position: relative;
}

.footer *{
  position: relative;
  display: inline-table;
  font-size: 14px;
  vertical-align: middle;
}
.tsu-logo {
width: 25%;
}


.adress {
	width: 50%;
 margin: 0 auto;
}
.adress-center {
	    margin: 0 auto;
    width: 50%;
    display: block;
}

.contacts {
width: 25%;
 margin: 0 auto;
 padding-left: 1%;
}

.contacts-center {
	width: 25%;
	margin: 0 auto;
    display: block;
}

.tsu {
	margin: 0 auto;

}

.footer img {
  width: 100px;
}
 
 
.back {
 position: fixed; 
 width: 100%;
 height: 100%;
 z-index: 1;
}
.background {
  background-color: black;
  opacity: 0.7;  
  width: 100%;
 height: 100%;
}

.message{
  position: absolute; 
  background-color: white;
  text-align: center;
  height: 220px;
  top: calc(50% - 85px);
  left: calc(50% - 250px);
  width: 500px;
  border-radius: 5px;
  padding: 5px;
  border: solid 2px #0077bc;
  z-index: 1;

}
.message h3{
  color: #0077bc;
  padding: 10px;
}
.message p{
  margin-top: 15px;
  border-radius: 5px;
  padding: 15px;
  border: solid 2px #0077bc;
}
.close-button{
    border-radius: 100px;
    padding: 5px;
    color: white;
    background: #ff2400;
    font-size: 20px;
    width: 40px;
    text-align: center;
    line-height: 30px;
    float: right;
    margin-right: 1px;
    margin-top: 1%;

}

.login-button{
    border: solid 2px #247ad6;
	text-decoration: none;
	border-radius: 15px;
    color: white;
    background: #bde0ff;
    font-size: 20px;
    height: 40px;
	width: 300px;
    text-align: center;	
    line-height: 35px;
    margin-top: 20px;

}


.close-button:hover{
  background: #ff7a66;
  cursor: pointer;

}
