﻿html{
  background-repeat:no-repeat;
  min-height: 100%;
}

body *{
  box-sizing: border-box;
  transition: all 300ms;
  margin: 0;

}
body > content {
    background: #fff;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    min-height: 100px;
}

body {
  height: 100%;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  /*padding: 5px 25px;*/
  font-size: 18px;
  margin: 0;
  color: #444;
  padding:0;
  background: #d5ecf9;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
.header {
 position: relative;
 margin: 0 auto;
 width: 1200px;
 vertical-align: top;
 font-size: 0;
 background: #fff;
}

.logo {
  display: inline-table;
  vertical-align: bottom;
  width: 25%;
  padding: 0;
  font-size: 0
}
.logo img{
  width: 120px;
  margin-left: 0;
  vertical-align: middle;
  display: inline-table;
}
.logo-text{
    vertical-align: middle;
    font-size: 22px;
    display: inline-table;
}
.banner {
	display: inline-table;
	width: 50%;
}
.banner img{
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

}
.buttons{
  font-family: "Merriweather", serif;
  font-size: 16px;
  
}
.buttons>div{
	border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    display: inline-table;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
}

.about-button:hover, .projects-button:hover{
  background: #88C9E7;
  cursor: pointer;
}

.profile {
	display: inline-table;
	width: 10%;
	padding: 10px;
	vertical-align: middle;
	position: relative;
	margin-left: 15%;
}
.profile img {
	margin-right: 10%;
	width: 70px;
	float: right;
	cursor:pointer;
}
.header .profile >.prof-name{
    font-size: 16px;
    position: absolute;
    bottom: -40px;
    width: 200px;
    text-align: center;
    right: 80%;
    top: 0;
    height: 100%;
}
.header .profile >.prof-name > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.profile ul
{
  margin-left: 79%;
  margin-top: 21px;
  border-radius: 5px;
  border: 1px solid #0077bc;
  font-size: 19px;
  background: #0077bc;
  list-style:none;
  display: none;
  position: absolute;
  text-align: right;
  padding: 10px;
  top: 0;
  z-index: 1;
  width: 200%;
  margin: 0;
  right: 100%;
}

body .header > .profile:hover ul.menu{
    display: block;
    /* margin: 0; */
    /* padding: 0; */
    /* width: 100%; */
}

.profile li{
  color: black;
  padding: 5px;
  color: white;
}

.profile li:hover{
  background: #88C9E7;
  cursor: pointer;
}

.footer {

  width: 1200px;
  font-size: 0;
  background: #fff;
  background: #0077bc;
  color: white;
  margin: 0 auto;
  vertical-align: bottom;
  position: relative;
}

.footer *{
  position: relative;
  display: inline-table;
  font-size: 14px;
  vertical-align: middle;
}
.tsu-logo {
width: 25%;
}


.adress {
	width: 50%;
 margin: 0 auto;
}
.adress-center {
	    margin: 0 auto;
    width: 50%;
    display: block;
}

.contacts {
width: 25%;
 margin: 0 auto;
 padding-left: 1%;
}

.contacts-center {
	width: 25%;
	margin: 0 auto;
    display: block;
}

.tsu {
	margin: 0 auto;

}

.footer img {
  width: 100px;
}

form {
  line-height: 2;
}

.item {
    border: solid #0077bc 1px;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 7px;
    margin-right: 14px;
    align-self: center;
    color: #555;
    padding-bottom: 2px;
    text-transform: capitalize;
    white-space: nowrap;
    line-height: 2;
}

div {
    display: block;
}

body > content {
  background: #fff;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  min-height: 100px;
}

aside > img {
  width:100%;
  height:100%;
}

#Description {
    border-radius: 5px;
    border: #0077bc solid;
    margin: 7px;
    margin-left: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 75%;