﻿html{
    background-repeat:no-repeat;
    min-height: 100%;
}

body *{
    box-sizing: border-box;
    transition: all 300ms;
    margin: 0;

}
.main {
    background: #fff;
    display: block;
    width: 1200px;
    margin: 0 auto;
    min-height: 100px;
}

body {
    height: 100%;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    /*padding: 5px 25px;*/
    font-size: 18px;
    margin: 0;
    color: #444;
    padding:0;
    background: #d5ecf9;
}

h1 {
    font-family: "Merriweather", serif;
    font-size: 32px;
}
.header {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    vertical-align: top;
    font-size: 0;
    background: #fff;
}

.logo {
    display: inline-table;
    vertical-align: bottom;
    width: 25%;
    padding: 0;
    font-size: 0
}
.logo img{
    width: 120px;
    margin-left: 0;
    vertical-align: middle;
    display: inline-table;
}
.logo-text{
    vertical-align: middle;
    font-size: 22px;
    display: inline-table;
}
.banner {
    display: inline-table;
    width: 50%;
}
.banner img{
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
}

}
.buttons{
    font-family: "Merriweather", serif;
    font-size: 16px;

}
.buttons>div{
    border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    display: inline-table;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
}

.about-button:hover, .projects-button:hover{
    background: #88C9E7;
    cursor: pointer;
}

.profile {
    display: inline-table;
    width: 10%;
    padding: 10px;
    vertical-align: middle;
    position: relative;
    margin-left: 15%;
}
.profile img {
    margin-right: 10%;
    width: 70px;
    float: right;
    cursor:pointer;
}
.header .profile >.prof-name{
    font-size: 16px;
    position: absolute;
    bottom: -40px;
    width: 200px;
    text-align: center;
    right: 80%;
    top: 0;
    height: 100%;
}
.header .profile >.prof-name > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.profile ul
{
    margin-left: 79%;
    margin-top: 21px;
    border-radius: 5px;
    border: 1px solid #0077bc;
    font-size: 19px;
    background: #0077bc;
    list-style:none;
    display: none;
    position: absolute;
    text-align: right;
    padding: 10px;
    top: 0;
    z-index: 1;
    width: 200%;
    margin: 0;
    right: 100%;
}

body .header > .profile:hover ul.menu{
    display: block;
    /* margin: 0; */
    /* padding: 0; */
    /* width: 100%; */
}

.profile li{
    color: black;
    padding: 5px;
    color: white;
}

.profile li:hover{
    background: #88C9E7;
    cursor: pointer;
}

.footer {

    width: 1200px;
    font-size: 0;
    background: #fff;
    background: #0077bc;
    color: white;
    margin: 0 auto;
    vertical-align: bottom;
    position: relative;
}

.footer *{
    position: relative;
    display: inline-table;
    font-size: 14px;
    vertical-align: middle;
}
.tsu-logo {
    width: 25%;
}


.adress {
    width: 50%;
    margin: 0 auto;
}
.adress-center {
    margin: 0 auto;
    width: 50%;
    display: block;
}

.contacts {
    width: 25%;
    margin: 0 auto;
    padding-left: 1%;
}

.contacts-center {
    width: 25%;
    margin: 0 auto;
    display: block;
}

.tsu {
    margin: 0 auto;

}

.footer img {
    width: 100px;
}
content {
    width: 1200px;
    /*display: inline-table;
    vertical-align: middle;*/
}


.request {
    position: relative;
    display: inline-table;
    vertical-align: middle;
    background-color: white;
    border-radius: 5px;
    border: #0077bc solid;
    width: 24%;
    margin-top: 1%;
    margin-left: 1%;
    height: 600px;
    margin-bottom: 1%;


    /*padding: 2px;
    border: 1px solid #0077bc;
    border-radius: 5px;
    width: 25%;
      margin: 0 auto;
    display: block;*/
}


.button-more {
    position: relative;
    display: inline-table;
    float: right;
    border: 1px solid #0077bc;
    padding: 10px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    float: top:;
    text-align: center;
    cursor: pointer;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.background {
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.message{
    position: absolute;
    background-color: white;
    text-align: center;
    height: 170px;
    width: 500px;
    top: calc(50% - 85px);
    left: calc(50% - 250px);
    width: 450px;
    border-radius: 5px;
    padding: 5px;
    border: solid 2px #0077bc;
    z-index: 1;

}
.message h3{
    color: #0077bc;
    padding: 10px;
}
.message p{
    margin-top: 5px;
    border-radius: 5px;
    padding: 15px;
    border: solid 2px #0077bc;
}
.message-button{
    border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
    float: right;
    margin-right: 1px;
    margin-top: 1%;

}
.message-button:hover{
    background: #88C9E7;
    cursor: pointer;

}


hr
{
    color: #0077bc;
    margin-top: 14px;
    margin-bottom: 14px;
}

.title {
    text-align: center;
    margin-bottom: 0.5%;
}

.column {
    border-radius: 5px;
    border: #0077bc solid;
    height: -webkit-fill-available; /*в webstorm подчёркивает, а devtools норм*/
    margin: 0.5%;
    position: relative;
    display: inline-block;
    height: 725px;
}

.column.projects-list {
    vertical-align: top;
    width: 25%;
    height: 725px;
}

.placeholder {
    width: 30%;
    height: 100px;
    background: gray;
    text-align: center;
    margin-top: 1%;
}



.column.project-info {
    width: 70%;
}

ul {
    list-style-type: none;
    padding: unset;
}

.projects-list li {
    border-radius: 5px;
    border: #0077bc solid 2px;
    margin: 14px;
    padding: 5px;
    cursor: pointer;
}

.projects-list li:hover {
    background: #0077bc;
    color: white;
}

.item {
    border: solid #0077bc 1px;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 7px;
    margin-right: 14px;
    align-self: center;
    color: #555;
    padding-bottom: 2px;
    text-transform: capitalize;
    white-space: nowrap;
    line-height: 2;
}

.minus, .plus {
    background: #0077bc;
    color: white;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
    margin-right: -12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    border: solid #0077bc 1px;
}




.headline {
    background: #0077bc;
    text-align: center;
    color: white;
    border: #0077bc solid;
    font-size: larger;
}

.input-area {
    padding: 3%;
    margin: 1%;
}


.skill {
    border: #0077bc solid 1px;
    border-radius: 5px;
    border-right: hidden; /*?????*/
    margin-right: 1%;
}

.skill-text {
    margin-left: 1%;
}

.delete-button {
    border: #0077bc solid 1px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    color: white;
    background: #0077bc;
    height: 1em;
    vertical-align: text-bottom;
    margin-right: -0.5em;
    cursor: pointer;
}

.field {
    margin-bottom: 1%;
}

.field>input[type="text"]{
    width: 50%;
}

textarea {
    width: 50%;
}

.plus:hover {
    background: #88C9E7;
}

.delete-button:hover {
    background: red;
}

.complete-items {
    border-radius: 5px;
    border: #0077bc solid;
    margin: 1%;
    text-align: start;
}

.complete-items {
    width: 46%;
    margin: auto;
}