html{
  background-repeat:no-repeat;
  min-height: 100%;
}

body *{
  box-sizing: border-box;
  transition: all 300ms;
  margin: 0;

}
body > content {
    background: #fff;
    display: block;
    width: 1200px;
    margin: 0 auto;
    min-height: 100px;
}

body {
  height: 100%;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  /*padding: 5px 25px;*/
  font-size: 18px;
  margin: 0;
  color: #444;
  padding:0;
  background: #d5ecf9;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
.header {
 position: relative;
 margin: 0 auto;
 width: 1200px;
 vertical-align: top;
 font-size: 0;
 background: #fff;
}

.logo {
	display: inline-table;
	vertical-align: bottom;
	width: 25%;
	padding: 0;
	font-size: 0
}
.logo img{
  width: 120px;
  margin-left: 0;
  vertical-align: middle;
  display: inline-table;
}
.logo-text{
    vertical-align: middle;
    font-size: 22px;
    display: inline-table;
}
.banner {
	display: inline-table;
	width: 50%;
}
.banner img{
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

}
.buttons{
  font-family: "Merriweather", serif;
  font-size: 16px;

}
.buttons>div{
	border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    display: inline-table;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
}

.about-button:hover, .projects-button:hover{
  background: #88C9E7;
  cursor: pointer;
}

.profile {
	display: inline-table;
	width: 10%;
	padding: 10px;
	vertical-align: middle;
	position: relative;
	margin-left: 15%;
}
.profile img {
	margin-right: 10%;
	width: 70px;
	float: right;
	cursor:pointer;
}
.header .profile >.prof-name{
    font-size: 16px;
    position: absolute;
    bottom: -40px;
    width: 200px;
    text-align: center;
    right: 80%;
    top: 0;
    height: 100%;
}
.header .profile >.prof-name > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.profile ul
{
  margin-left: 79%;
  margin-top: 21px;
  border-radius: 5px;
  border: 1px solid #0077bc;
  font-size: 19px;
  background: #0077bc;
  list-style:none;
  display: none;
  position: absolute;
  text-align: right;
  padding: 10px;
  top: 0;
  z-index: 1;
  width: 200%;
  margin: 0;
  right: 100%;
}

body .header > .profile:hover ul.menu{
    display: block;
    /* margin: 0; */
    /* padding: 0; */
    /* width: 100%; */
}

.profile li{
  color: black;
  padding: 5px;
  color: white;
}

.profile li:hover{
  background: #88C9E7;
  cursor: pointer;
}

.footer {

  width: 1200px;
  font-size: 0;
  background: #fff;
  background: #0077bc;
  color: white;
  margin: 0 auto;
  vertical-align: bottom;
  position: relative;
}

.footer *{
  position: relative;
  display: inline-table;
  font-size: 14px;
  vertical-align: middle;
}
.tsu-logo {
width: 25%;
}


.adress {
	width: 50%;
 margin: 0 auto;
}
.adress-center {
	    margin: 0 auto;
    width: 50%;
    display: block;
}

.contacts {
width: 25%;
 margin: 0 auto;
 padding-left: 1%;
}

.contacts-center {
	width: 25%;
	margin: 0 auto;
    display: block;
}

.tsu {
	margin: 0 auto;

}

.footer img {
  width: 100px;
}

content {
  width: 1200px;
  /*display: inline-table;
  vertical-align: middle;*/
}


.request {
  position: relative;
  display: inline-table;
  vertical-align: middle;
  background-color: white;
  border-radius: 5px;
  border: #0077bc solid;
  width: 24%;
  margin-top: 1%;
  margin-left: 1%;
  height: 600px;
  margin-bottom: 1%;


  /*padding: 2px;
  border: 1px solid #0077bc;
  border-radius: 5px;
  width: 25%;
	margin: 0 auto;
  display: block;*/
}

.request p{
  margin: 20px;
  color: #0077bc;
  text-align: center;


}
.ul-request {
  list-style:none;
  list-style-type: none;
  display: contents;
  padding: 0;
}
.request li{
  margin: 14px;
  border-radius: 5px;
  padding: 5px;
  border: solid 2px #0077bc;
  cursor: pointer;
  word-wrap: break-word;
}
.request li:hover
{
  background: #88C9E7;
  /*background-color: #0077bc;*/
}
.request-checkbox {
  position: relative;
  display: inline-table;
  vertical-align: top;
  border: #0077bc solid;
  border-radius: 5px;
  width: 73%;
	margin: 0 auto;
  margin-top: 1%;
  height: 600px;
   margin-bottom: 1%;


  /*display: block;*/
}
.checkbox-p {
  padding: 5px;
  /*cursor: pointer;*/
}
.in{
  margin: 20px;
  color: #0077bc;
  text-align: center;
}
.checkbox-buttons, .request-button{
  font-size: 0;
  position: relative;
  display: inline-table;
  float: right;
  font-family: "Merriweather", serif;
  font-size: 16px;
  width: 30%;
}
 .checkbox-buttons-1, .checkbox-buttons-2 {
  display: inline-table;
border: 1px solid #0077bc;
    border-radius: 5px;

    padding: 5px;
    color: white;
    background: #0077bc;
    display: inline-table;
    width: 45%;
    text-align: center;
    line-height: 30px;
    margin-right: 5%;
    margin-top: 2%;
      font-family: "Merriweather", serif;
  font-size: 16px;
}
.request-button {
  display: inline-table;
  border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    width: 60%;
    text-align: center;
    line-height: 30px;
    margin-left: 5%;
    margin-top: 1%;
      font-family: "Merriweather", serif;
  font-size: 16px;
}
.request-button {
  margin-right: 5%;
}

.checkbox-buttons-1:hover, .checkbox-buttons-2:hover, .request-button:hover, .buttonmore:hover, .button-ok2:hover{
  background: #88C9E7;
  cursor: pointer;
}
label{
  cursor: pointer;
  user-select: none;
 /* position: relative;
  display: inline-table;*/
  width: 80%; 
}

.checkbox-p{
  position: relative;
  display: inline-table;

}

.buttonmore {
  position: relative;
  display: inline-table;
  float: right;
  margin-right: 12px;
    width: 14%; 
  border: 1px solid #0077bc;
  padding: 10px;
    border-radius: 5px;
    padding: 7px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    float: top:;
    text-align: center;
}






.back-app {
 position: absolute; 
 top:0;
 left: 0;
 width: 1300px;
 height: 1200px;
 z-index: 1;
}
.background-app {
   position: absolute; 
  background-color: black;
  opacity: 0.7;  
  width: 100%;
 height: 100%;
}
.app  {
  position: absolute;
  width: 700px;
top: 50px;
left: calc(50% - 350px);
  border-radius: 5px;
  z-index: 1;
}






.div-about{
  position: relative;
  display: inline-table;
  vertical-align: top;
  margin-left: 5%;

}
#Description img{
height: 160px;
  display: inline-table;
  vertical-align: top;
}

hr
{
  color: #0077bc;
  margin-top: 14px;
  margin-bottom: 14px;
}
#Description
{
    position: absolute;
    background: white;
  border-radius: 5px;
  border: #0077bc solid;
  margin: 7px;
  margin-left: 0;
  padding-top: 14px;
  padding-bottom: 14px;
}
#Description b{
  margin-right: 20px;
}

#Description > *
{
  margin-left: 24px;
}

#Description > hr
{
  margin-left: 0;
}

#Description > h2
{
  margin-top: -3px;
}
.form-about {
  width: 325px;
  line-height: 2;
}
.form-about > *
{
  margin: 0 7px ;
}

.form-about input 
{
    float: right;
    height: 22px;
    width: 160px;
    margin-top: 7px;
}


/*.item span{
  border: solid #0077bc 1px;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
 /* align-self: center;
  color: #555;
  padding-bottom: 2px;
  /*text-transform: capitalize;
  white-space: nowrap;
  line-height: 2; 

}
*/
.item > span {
    border: 1px solid;
    padding: 5px;
    display: inline-block;
    margin: 2px 0px;
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
  }

  .q >*{
    {
    border: 1px solid;
    padding: 5px;
    display: inline-block;
    margin: 2px 0px;
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
  }
  }

/*.item-1 {
    border: 1px solid;
    padding: 5px;
    display: inline-block;
    margin: 2px 0px;
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
  }*/

table {
  width: 600px;
  margin: 8px;
  border-collapse: collapse;
}
td 
{
  border: 1px #0077bc solid;
  padding: 7px;
}

.button-ok2{
    position: relative;
  display: inline-table;
  float: right;
  margin-right: 12px;
    width: 14%; 
  border: 1px solid #0077bc;
  padding: 10px;
    border-radius: 5px;
    padding: 7px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    float: right;
    text-align: center;
}


.back {
 position: absolute; 
 width: 100%;
 height: 100%;
 z-index: 1;
}
.background {
  background-color: black;
  opacity: 0.7;  
  width: 100%;
 height: 900px;
}

.message{
  position: absolute; 
  background-color: white;
  text-align: center;
  height: 190px;
  width: 500px;
top: calc(50% - 85px);
left: calc(50% - 250px);
  width: 450px;
  border-radius: 5px;
  padding: 5px;
  border: solid 2px #0077bc;
  z-index: 1;
}

.message h3{
  color: #0077bc;
  padding: 10px;
}
.message p{
  margin-top: 5px;
  border-radius: 5px;
  padding: 15px;
  border: solid 2px #0077bc;

}
.message-button{
  border: 1px solid #0077bc;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: #0077bc;
    font-size: 16px;
    width: 45%;
    margin: 0 2.5%;
    text-align: center;
    line-height: 30px;
    float: right;
    margin-right: 1px;
    margin-top: 1%;

}
.message-button:hover{
  background: #88C9E7;
  cursor: pointer;

}



